USE [Bank Loan DB]
GO
/****** Object:  Table [dbo].[bank_loan_data]    Script Date: 11/4/2025 3:53:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_loan_data](
	[id] [int] NOT NULL,
	[address_state] [varchar](50) NOT NULL,
	[application_type] [varchar](50) NOT NULL,
	[emp_length] [varchar](50) NOT NULL,
	[emp_title] [varchar](100) NULL,
	[grade] [varchar](50) NOT NULL,
	[home_ownership] [varchar](50) NOT NULL,
	[issue_date] [date] NOT NULL,
	[last_credit_pull_date] [date] NOT NULL,
	[last_payment_date] [date] NOT NULL,
	[loan_status] [varchar](50) NOT NULL,
	[next_payment_date] [date] NOT NULL,
	[member_id] [int] NOT NULL,
	[purpose] [varchar](50) NOT NULL,
	[sub_grade] [varchar](50) NOT NULL,
	[term] [varchar](50) NOT NULL,
	[verification_status] [varchar](50) NOT NULL,
	[annual_income] [float] NOT NULL,
	[dti] [float] NOT NULL,
	[installment] [float] NOT NULL,
	[int_rate] [float] NOT NULL,
	[loan_amount] [int] NOT NULL,
	[total_acc] [tinyint] NOT NULL,
	[total_payment] [int] NOT NULL
) ON [PRIMARY]
GO
